@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap");
:root {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #7c7c7c;
  --clr-white: #fff;
  --clr-accent: #7d00c9;
  --clr-dark: #000;
  --clr-underline: #83a4ff;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-regular: 400;
  --fw-bold: 700;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 6px;
}

h1,
h2,
h3,
h4 {
  width: max-content;
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 10vh;
  color: var(--clr-accent);
  padding: 5px;
  letter-spacing: 2px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: minmax(1rem, 2vw);
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body.light-theme {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #686868;
  --clr-one: #fff;
  --clr-accent: #7d00c9;
  --clr-two: #000;
  --clr-underline: #83a4ff;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

body.dark-theme {
  --clr-main-bg: #131313;
  --clr-light: #ffe3fe;
  --clr-light-two: #ef02ff;
  --clr-medium-light: #b9b9b9;
  --clr-one: #000;
  --clr-accent: #93329e;
  --clr-two: #fff;
  --clr-underline: #83a4ff;
  transition: 0.2s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-two);
  font-size: 16px;
  background-color: var(--clr-main-bg);
  position: relative;
  z-index: 0;
}

/* card design start */
.member-section h2 {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--clr-accent);
  font-weight: var(--fw-regular);
}

.faculty {
  width: 100%;
  padding: var(--gen-padding);
  margin-bottom: 5vh;
  /* border-bottom: 1.5px solid var(--clr-dark); */
}

.row-2 {
  padding: var(--gen-padding);
  /* border: 2px solid green; */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.card {
  width: 100%;
  min-width: 240px;
  max-width: 300px;
  min-height: 420px;
  padding: 10px;
  background-color: rgb(241, 232, 243);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-self: center;
  position: relative;
  transition: var(--gen-transition);
}

.card.faculty-card::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--clr-accent);
  border-radius: 5px 5px 0 0;
  z-index: 0;
}
.card:hover {
  box-shadow:0px 8px 16px -2px  rgba(123, 0, 199, 0.35) ;
  transform: translateY(-4px);
}
.card:hover img {
  transition: var(--gen-transition);
  box-shadow:0px 8px 16px -2px  rgba(123, 0, 199, 0.3) ;
  /* transform: scale(1.1); */
}
.card .top-part,
.card .bottom-part {
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  
}
.card .top-part{
  justify-content: flex-end;
}


.card .image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 2px;
  z-index: 2;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
}
.card h3 {
  color: var(--clr-accent);
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 10px;
  font-weight:var(--fw-bold);
}
.card p {
  text-align: center;
  line-height: 1.6;
  margin-top: 1.2rem;
  color: var(--clr-medium-light);
  font-family: "Montserrat", sans-serif;
}
.social-handle {
  margin: 0 auto 0;
  display: flex;
  position: absolute;
  bottom: 20px;
}
.social-handle a {
  margin-right: 10px;
  margin-left: 10px;
}
.social-handle i {
  color: var(--clr-accent);
  cursor: pointer;
  transform: scale(1.3);
}

.social-handle i:hover {
  transform: scale(1.6);
  color: var(--clr-accent);
  transition: var(--gen-transition);
}

.club-head {
  width: 100%;
  padding: var(--gen-padding);
  margin-bottom: 5vh;
}
.card.clubHead-card {
 background-color: var(--clr-main-bg);
}

/* domain-leads */
.domain-leads{
  width: 100%;
  margin: auto;
  padding: var(--gen-padding);
  
  margin-bottom: 5vh;
}
.domain-leads .row-2{
  border: 2px solid var(--clr-accent);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team{
  text-align: center;
  
}
.team h3{
  margin: auto;
  margin-bottom: 10px;
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  line-height: 1.6;
  
}
.team ul{
  /* border: 2px solid yellow; */
  display: inline-block;
  margin: auto;
  list-style: square;
  list-style-position: inside;
}
.team ul li{
  list-style: square;
  
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--fw-regular);
  color: var(--clr-medium-light);

}
.team ul li::marker{
 font-size: 1.2rem;
 margin: auto;
 color: var(--clr-accent);
}

/* members and interns styling  */


.club-mem {
  width: 100%;
  padding: var(--gen-padding);
  text-align: center;
}

.member-list {
  border: 1px solid var(--clr-medium-light);
  border-right: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.member-list-desktop {
  display: grid;
}
.member-list-mobile {
  display: none;
}
.member-list-item {
 
  text-align: center;
  padding: 8px;
  border-right: 1px solid var(--clr-medium-light);
  color: var(--clr-medium-light);
 
}
.color1 {
  background-color: var(--clr-one);
}
.color2 {
  background-color: var(--clr-main-bg);
}

.interns {
  width: 100%;
  padding: var(--gen-padding);
}
.club-mem h1,
.interns h1 {
  margin-bottom: 5vh;
}

/* responsive */

@media (max-width: 950px) {
  :root {
    --gen-padding: 24px;
  }
  .member-section h2 {
    font-size: 32px;
    margin-inline: auto;
    margin-bottom: 16px;
  }
  

  .row-2 {
    grid-template-columns: 1fr;
    align-items: center;
  }

}

@media (max-width: 720px) {
  .card {
    height: 50vh;
  }
  .card.faculty-card::before {
    height: 30%;
  }
  .domain-leads{
    width: 90%;
  }
  .member-list {
    grid-template-columns: auto;
  }
  .member-list-desktop {
    display: none;
  }
  .member-list-mobile {
    display: grid;
  }
  .member-list-item {
    font-size: 14px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 375px) {
  .member-section h2 {
    font-size: 28px;
  }
  
}
