:root {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #7c7c7c;
  --clr-white: #fff;
  --clr-accent: #7d00c9;
  --clr-dark: #000;
  --clr-underline: #83a4ff;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-regular: 400;
  --fw-bold: 700;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 6px;
}

h1,
h2,
h3,
h4 {
  width: max-content;
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 10vh;
  color: var(--clr-accent);
  padding: 5px;
  letter-spacing: 2px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: minmax(1rem, 2vw);
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body.light-theme {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #686868;
  --clr-one: #fff;
  --clr-accent: #7d00c9;
  --clr-two: #000;
  --clr-underline: #83a4ff;
  transition: 0.2s;
}

body.dark-theme {
  --clr-main-bg: #131313;
  --clr-light: #ffe3fe;
  --clr-light-two: #ef02ff;
  --clr-medium-light: #b9b9b9;
  --clr-one: #000;
  --clr-accent: #93329e;
  --clr-two: #fff;
  --clr-underline: #83a4ff;
  transition: 0.2s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-two);
  font-size: 16px;
  background-color: var(--clr-main-bg);
  position: relative;
  z-index: 0;
}

/* card design start */

.faculty {
  width: 100%;
  padding: var(--gen-padding);
  border-bottom: 1.5px solid var(--clr-dark);
  display: flex;
  flex-direction: column;
}
.row-2 {
  border: 2px solid green;
  display: grid;
  justify-content: center;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3,300px); */
  margin-top: 1.6rem;
  /* overflow: auto; */
}

.card.faculty-card {
  max-width: 300px;
  width: 90%;
  height: 67vh;
  padding: 10px;
  background-color: rgb(241, 232, 243);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  position: relative;
  transition: var(--gen-transition);
}

.card.faculty-card::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--clr-accent);
  border-radius: 5px 5px 0 0;
  z-index: 0;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-1%);
}
.card:hover img {
  transition: var(--gen-transition);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-4%);
}
.card .top-part,
.card .bottom-part {
  height: 50%;
  width: 100%;
}
.card .bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .image {
  width: 50%;
  height: 70%;
  position: relative;
  transform: translateX(50%);
  border-radius: 50%;
  margin-top: 5vh;
  padding: 2px;
  background-color: rgb(241, 222, 245);
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
}
.card h3 {
  text-align: center;
  font-size: 1.37rem;
  text-transform: capitalize;

  margin: auto;
  margin-top: 12px;
  color: var(--clr-accent);
  padding: 5px;
  letter-spacing: 2px;
}
.card p {
  text-align: center;
  margin-top: 12px;
}
.social-handle {
  margin: 0 auto 0;
  display: flex;
}
.social-handle a {
  margin-right: 10px;
  margin-left: 10px;
}
.social-handle i {
  color: var(--clr-light-two);
  cursor: pointer;
  transform: scale(1.3);
}

.social-handle i:hover {
  transform: scale(2);
  color: var(--clr-accent);
  transition: var(--gen-transition);
}

.club-head {
  width: 100%;
  padding: var(--gen-padding);
}
.card.clubHead-card {
  width: 55%;
  height: 47vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  transition: var(--gen-transition);
  margin-bottom: auto;
  justify-self: center;
}

.club-mem {
  width: 100%;
  padding: var(--gen-padding);
}

.member-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-around;
  row-gap: 8px;
}
.member-list li {
  list-style-type: disc;
  color: var(--clr-accent);
  /* border: 1px solid green; */
}

.interns {
  width: 100%;
  padding: var(--gen-padding);
}
.club-mem h1,
.interns h1 {
  margin-bottom: 5vh;
}

/* responsive */
@media (max-width: 950px) {
  .card.faculty-card {
    width: 40vw;
    margin-bottom: 20px;
  }

  .row-2 {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .card.faculty-card {
    width: 100%;
    height: 50vh;
  }
  .card.faculty-card::before {
    height: 33%;
  }
  .row-2 {
    padding: 0;
  }

  .card.clubHead-card {
    width: 65%;
    height: 37vh;
  }
  .member-list {
    grid-template-columns: 1fr;
  }
}
