@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap");
:root {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #7c7c7c;
  --clr-white: #fff;
  --clr-accent: #7d00c9;
  --clr-dark: #000;
  --clr-underline: #83a4ff;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-regular: 400;
  --fw-bold: 700;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 6px;
}

h1,
h2,
h3,
h4 {
  width: max-content;
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 10vh;
  color: var(--clr-accent);
  padding: 5px;
  letter-spacing: 2px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: minmax(1rem, 2vw);
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body.light-theme {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #686868;
  --clr-one: #fff;
  --clr-accent: #7d00c9;
  --clr-two: #000;
  --clr-underline: #83a4ff;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
}

body.dark-theme {
  --clr-main-bg: #131313;
  --clr-light: #ffe3fe;
  --clr-light-two: #ef02ff;
  --clr-medium-light: #b9b9b9;
  --clr-one: #000;
  --clr-accent: #93329e;
  --clr-two: #fff;
  --clr-underline: #83a4ff;
  transition: 0.2s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-two);
  font-size: 16px;
  background-color: var(--clr-main-bg);
  position: relative;
  z-index: 0;
}

/* card design start */

.faculty {
  width: 100%;
  padding: var(--gen-padding);
  border-bottom: 1.5px solid var(--clr-dark);
}
h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--clr-accent);
    font-weight: var(--fw-regular);
}
.row-2 {
  padding: var(--gen-padding);
  /* border: 2px solid green; */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.card.faculty-card {
  width: 100%;
  max-width: 300px;
  min-height: 420px;
  /* height: 67vh; */
  padding: 10px;
  background-color: rgb(241, 232, 243);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  position: relative;
  transition: var(--gen-transition);
}

.card.faculty-card::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--clr-accent);
  border-radius: 5px 5px 0 0;
  z-index: 0;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.155) 0px 40px 45px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-1%);
}
.card:hover img {
  transition: var(--gen-transition);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 40px 45px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-4%);
}
.card .top-part,
.card .bottom-part {
  height: 50%;
  width: 100%;
  position: relative;
}
.card .bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .image {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 2px;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
}
.card h3 {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  color: var(--clr-accent);
  font-size: 1.37rem;
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: 1.5px;
}
.card p {
  text-align: center;
  line-height: 1.6;
  margin-top: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.social-handle {
  margin: 0 auto 0;
  display: flex;
}
.social-handle a {
  margin-right: 10px;
  margin-left: 10px;
}
.social-handle i {
  color: var(--clr-accent);
  cursor: pointer;
  transform: scale(1.3);
}

.social-handle i:hover {
  transform: scale(1.6);
  color: var(--clr-accent);
  transition: var(--gen-transition);
}

.club-head {
  width: 100%;
  padding: var(--gen-padding);
  /* border: 2px solid green; */
}
.card.clubHead-card {
  width: 100%;
  max-width: 300px;
  height: 420px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  transition: var(--gen-transition);
  margin-bottom: auto;
  justify-self: center;
}
/* members and inters styling  */
.club-mem {
  width: 100%;
  padding: var(--gen-padding);
}

.member-list {
  border: 1px solid var(--clr-medium-light);
  border-right: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.member-list-desktop {
  display: grid;
}
.member-list-mobile {
  display: none;
}
.member-list-item {
  /* border-radius:7px; */
  text-align: center;
  padding: 8px;
  border-right: 1px solid var(--clr-medium-light);
  color: var(--clr-medium-light);
  /* border-radius: 4px; */
}
.color1 {
  background-color: var(--clr-one);
}
.color2 {
  background-color: var(--clr-main-bg);
}

.interns {
  width: 100%;
  padding: var(--gen-padding);
}
.club-mem h1,
.interns h1 {
  margin-bottom: 5vh;
}

/* responsive */

@media (max-width: 950px) {
  :root{
    --gen-padding:24px;
  }
  h1{
    font-size: 32px;
    margin-inline: auto;
    margin-bottom: 16px;
  }
  .card.faculty-card {
    width: 40vw;
    margin-bottom: 20px;
  }

  .row-2 {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

@media (max-width: 720px) {
  .card.faculty-card {
    width: 100%;
    height: 50vh;
  }
  .card.faculty-card::before {
    height: 33%;
  }
  .row-2 {
  }

  .card.clubHead-card {
    width: 65%;
    height: 37vh;
  }
  .member-list {
    grid-template-columns: auto;
  }
  .member-list-desktop {
    display: none;
  }
  .member-list-mobile {
    display: grid;
  }
  .member-list-item {
    font-size: 14px;
    font-weight: 500;
  }
}
